.nav-logo {
  width: 4rem;
}

body {
  padding-top: 70px;
}

.green-background {
  background-color: #5ac092;
}

.grey-background {
  background-color: #a8b0ad;
}

.border-none {
  border: none;
}

.btn-green {
  background-color: #5ac092;
  border: none;
  transition: background-color 0.5s;
}

.btn-green:hover {
  background-color: #367659;
}

.nav-item {
  transition: background-color 0.5s;
}

.nav-item:hover {
  cursor: pointer;
  background-color: #367659;
}

.dark-background {
  background-color: #262626;
}

.text-custom-grey {
  color: #d3ded9;
}

.font-changa {
  font-family: Changa, sans-serif;
  font-weight: 400;
}

.font-wieght-normal {
  font-weight: 300;
}

.start-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.start-img {
  max-height: 250px;
}

.img-100 {
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.759);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 0.7rem;
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
}

.cancel-btn {
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.cancel-btn:hover {
  background-color: #0000007d;
}

.confirm-btn {
  border: none;
  border-radius: 5px;
  background-color: #dc2626;
  transition: background-color 0.5s;
}

.confirm-btn:hover {
  background-color: #dc262697;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #367659;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.spinner-overlay {
  background-color: #262626;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
