.nav-logo {
  width: 4rem;
}

body {
  padding-top: 70px;
}

.green-background {
  background-color: #5ac092;
}

.grey-background {
  background-color: #a8b0ad;
}

.border-none {
  border: none;
}

.btn-green {
  background-color: #5ac092;
  border: none;
  transition: background-color 0.5s;
}

.btn-green:hover {
  background-color: #367659;
}

.nav-item {
  transition: background-color 0.5s;
}

.nav-item:hover {
  cursor: pointer;
  background-color: #367659;
}

.dark-background {
  background-color: #262626;
}

.text-custom-grey {
  color: #d3ded9;
}

.font-changa {
  font-family: Changa, sans-serif;
  font-weight: 400;
}

.font-wieght-normal {
  font-weight: 300;
}

.start-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.start-img {
  max-height: 250px;
}

.img-100 {
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.759);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 0.7rem;
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
}

.cancel-btn {
  border: none;
  border-radius: 5px;
}

.confirm-btn {
  border: none;
  border-radius: 5px;
  background-color: #dc2626;
}
